@font-face {
	font-family: 'PressStart';
	src: url('./../assets/fonts/PressStart.ttf');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'PressStart';
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.streetFont {
    background: linear-gradient(#ff3c00, #ff7b00, #ffe600);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
    background: #1668cc;
    font-size: 1.8em;
    margin: 2em 2em 0;
    padding: 0 2em;
    font-family: 'PressStart';
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateZ(0px);
    }
    100% {
        transform: rotate(360deg) translateZ(160px);
    }
}

.rotate {
	-webkit-animation: rotate 1.6s ease-in-out both;
	        animation: rotate 1.6s ease-in-out both;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.subtitle h3 {
	font-size: 2.5em;
}

.startBtn {
    text-decoration: none;
    font-size: 2em;
}

.startBtn:hover {
    transform: perspective(1px) scale3d(1.07,1.07,1);
}

footer {
    margin-top: 8em;
    font-size: 1.2em;
}